/*******display******/
.d-flex{display:flex;}
.d-none{display: none;}

/******flex*******/
.flex-grow{flex-grow: 1;}
.flex-row{flex-direction:row;}
.flex-column{flex-direction: column;}
.flex-row-reverse{flex-direction: row-reverse;}
.flex-wrap { flex-wrap: wrap;}

/****** align & justify********/
.justify-content-between {justify-content: space-between;}
.justify-content-center {justify-content: center;}
.justify-content-around {justify-content: space-around;}
.justify-content-left {justify-content: left;}
.align-items-center {align-items: center;}